.fullPage,
#root {
  height: 100% !important;
  min-height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.profileImage {
  border-radius: 50%;
  text-align: center;
  margin: auto;
  transition: all 1s ease-in-out;
}

.profileImage:hover {
  transform: rotate(360deg);
}

.divName {
  text-align: center;
  width: 100%;
  line-height: 100%;
  text-transform: uppercase;
  font-size: 300%;
  margin-top: 4vh;
}

.divSmallName {
  font-family: "Courier New", Courier, monospace;
  margin-top: 3vh;
}

.gridColumn {
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: rgba(110, 110, 110, 0.4);
}

a {
  color: black;
}

a:hover {
  color: whitesmoke;
}

.endingBox {
  position: fixed;
  bottom: 10px;
  height: max-content;
  box-sizing: border-box;
  padding: 8px;
  margin: auto 10px;
  text-align: center;
  font-size: 110%;
  background: #444444cc;
  color: whitesmoke;
  border-radius: 8px;
  a {
    color: lightskyblue;
  }
}

#bottomFlex {
  display: flex;
  justify-content: center;
}

.list .icon {
  min-width: 22px;
}

.rWrapper {
  background: #ffffff33;
  padding: 2vw;
  border-radius: 2vw;
  margin-left: 10px;
}

.faFont {
  font-family: "Font Awesome 5 Brands" !important
}